<!-- Main -->
<div id="main">

  <!-- Header -->
    <header id="header">
      <h1>Lens</h1>
      <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <!-- Button trigger modal -->
      
<button type="button" class="btn btn-primary bg-black" data-bs-toggle="modal" data-bs-target="#exampleModal" >
About 
</button>
    </header>
    
<section id="thumbnails">
<article>
    <a class="thumbnail" href="images/fulls/01.jpg" data-position="left center"><img src="images/thumbs/01.jpg" alt="" /></a>
    <h2>Diam tempus accumsan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/02.jpg"><img src="images/thumbs/02.jpg" alt="" /></a>
    <h2>Vivamus convallis libero</h2>
    <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/03.jpg" data-position="top center"><img src="images/thumbs/03.jpg" alt="" /></a>
    <h2>Nec accumsan enim felis</h2>
    <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/04.jpg"><img src="images/thumbs/04.jpg" alt="" /></a>
    <h2>Donec maximus nisi eget</h2>
    <p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/05.jpg" data-position="top center"><img src="images/thumbs/05.jpg" alt="" /></a>
    <h2>Nullam vitae nunc vulputate</h2>
    <p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/06.jpg"><img src="images/thumbs/06.jpg" alt="" /></a>
    <h2>Phasellus magna faucibus</h2>
    <p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/07.jpg"><img src="images/thumbs/07.jpg" alt="" /></a>
    <h2>Proin quis mauris</h2>
    <p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/08.jpg"><img src="images/thumbs/08.jpg" alt="" /></a>
    <h2>Gravida quis varius enim</h2>
    <p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/09.jpg"><img src="images/thumbs/09.jpg" alt="" /></a>
    <h2>Morbi eget vitae adipiscing</h2>
    <p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/10.jpg"><img src="images/thumbs/10.jpg" alt="" /></a>
    <h2>Habitant tristique senectus</h2>
    <p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/11.jpg"><img src="images/thumbs/11.jpg" alt="" /></a>
    <h2>Pharetra ex non faucibus</h2>
    <p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
</article>
<article>
    <a class="thumbnail" href="images/fulls/12.jpg"><img src="images/thumbs/12.jpg" alt="" /></a>
    <h2>Mattis lorem sodales</h2>
    <p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
</article>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-black">
      <div class="modal-header bg-black">
        <h1 class="modal-title fs-5 text-white bg-black" id="exampleModalLabel">About The Gallery</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center text-white">Welcome to our stunning gallery featuring 12 captivating photos! </p>
        <p class="text-center text-white">This gallery showcases the beauty and diversity of our collection,created using the power of Ruby on Rails and Bootstrap.</p>
        <p class="text-center text-white">Each photo is carefully curated to provide a unique visual experience. From breathtaking landscapes to captivating portraits, our gallery has it all. The seamless integration of Ruby on Rails and Bootstrap allows us to present these photos in an elegant and user-friendly manner.</p>        
        <p class="text-center text-white">The Bootstrap framework provides a responsive and modern design, making the gallery accessible on various devices and screen sizes. The sleek and intuitive user interface allows you to navigate effortlessly through the photos, immersing yourself in their beauty. With Bootstrap's extensive set of CSS classes and components, the gallery achieves a polished and professional look.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>